@model MovieViewModel

<tr>
    <td><emphasis my-parameter="@Model.Id"></emphasis></td>
    <td><input asp-for="@Model.Title" /></td>
    <td><input asp-for="@Model.Genre" /></td>
    <td><input asp-for="@Model.Price" /></td>
    <td><input asp-for="@Model.ReleaseDate" /></td>
</tr>
